<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ellenluo.minimaList"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".TaskDetailsActivity"
            android:label="@string/title_activity_task_details"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".EditTaskActivity"
            android:label="@string/title_activity_edit_task"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".TaskDetailsActivity"/>

        <activity
            android:name=".WidgetConfigureActivity"
            android:label="@string/title_activity_widget_configure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>


        <service
            android:name=".NotifService"
            android:enabled="true"/>

        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".AlarmManagerReceiver"/>

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

    </application>

</manifest>